body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, #f3c623, #e94e77);
    animation: backgroundAnimation 5s infinite alternate;
}

@keyframes backgroundAnimation {
    0% {
        background: linear-gradient(90deg, #f3c623, #e94e77);
    }
    100% {
        background: linear-gradient(90deg, #34e89e, #0f3443);
    }
}

.container {
    width: 100%;
    max-width: 800px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    text-align: center;
}

h1 {
    color: #333;
    margin-bottom: 20px;
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.box {
    width: 45%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
    text-align: left;
}

form {
    margin-top: 20px;
}

input {
    display: block;
    margin: 10px 0;
    padding: 10px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    background-color: #28a745;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
}

button:hover {
    background-color: #218838;
}

#payNowButton {
    display: inline-block;
    margin-top: 20px;
}

#logoutButton {
    margin-top: 20px;
}
